@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    pre {
        overflow-x: auto;
    }

    ul, ol {
        margin: revert;
        padding: revert;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
}